<!DOCTYPE html>
<html>
<body class = "portfolio">
	<div class ="center">
	
	<% if !user_signed_in? %>
  <div class ="welcome">
    Welcome to Chewink!!
  </div>
   	
  <% end %>
	

</div>
</body>
</html>



