<% if user_signed_in? %>
   <div class="row">
  <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: "btn btn-small btn-primary"  %>        
   <br/></div>
<% else %>
   <div class="row">
  <%= link_to'Sign In', new_user_session_path, class: "btn btn-small btn-primary"   %>  
   <br/></div>
<% end %>