<% @friend = User.find_by(user_id: friendrequests.sender_id) %>
<p> <%= @friend.fname %> <%= @friend.lname %>

<%= link_to "+Accept", {:controller => "newtork", :action => 'accept', :friend_id => friendrequests.friendship_id},  class: "btn btn-small btn-primary" %>
<%= link_to "-Decline",friendrequests, method: :delete, class: "btn btn-small btn-danger" %>

</p>