<% if @user.user_id == friendslist.receiver_id %>
	<% @friend = User.find_by(user_id: friendslist.sender_id) %>
<% else %>
	<% @friend = User.find_by(user_id: friendslist.receiver_id) %>
<% end %>
<%= link_to @friend.fname+" "+@friend.lname, profile_path(@friend) %> 

<%= link_to "Chat", {controller: "messages", action: "privatechat", id1: @user.user_id, id2: @friend.user_id}, class: "btn btn-small btn-primary" %>
<%= link_to "Remove", friendslist, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
</p>