<head>
</head>
  <body>
    
<table>
  <tr style = "vertical-align:center;">
    <td>
      <p style = "font-size:24px;"> 
      <%= link_to profilepostings.title, posting_path(profilepostings), :style => "color:black;" %>
      </p>
    </td>
  </tr>
</table>
 </body>
