<head>
</head>
  <body>
    <table>
      <tr>
        <td style = "max-width:12em"><p>Name: <%= projects.name %></p></td>
        <tr></tr>
        <td style = "max-width:12em"><p>Description: <%= projects.desc %></p></td>
       
    </table>
 </body>
