<head>

  <style = "text/css">
    .space{
      padding: 0.5em;
    }

  </style>
</head>
  <body>
    <table border = "0">
      <tr>
        <td class = "space" style = "max-width:12em; width: 12em"><p><%= skills.label %></p></td>
        <% if !skills.nil? %>
          <% if skills.user_id == @userID %>
            <td class = "space">
              <div class = "hover">
                <%= link_to image_tag('edit.png'), edit_skill_path(skills.skill_id), class: "btn btn-small btn-info"%>
              <div class = "tooltip">
                Click here to edit
              </div>
            </div>
            </td>
            <td class = "space">
              <div class = "hover">
                <%= link_to image_tag('delete.png'), skills, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %>
              <div class = "tooltip">
                Click here to delete
              </div>
            </div>
            </td>
            <% end %>
          <% end %>
      </tr>
    </table>
 </body>
