// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.rform{
	
	width: 300px;

}

div.rform1{
	
	width: 200px;
	float:left;
	padding-right: 20px;

}

div.rformsubmit{
	

	padding-top:20px;
}