<nav class="navbar navbar-default" role="navigation" >
  <!-- Brand and toggle get grouped for better mobile display -->
  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style = "background-color:black;">
    <ul class="nav pull-left">
    	<% if user_signed_in?%>
        <li><%= link_to "Survey", survey_path(@user), id: "brand",  style:"text-shadow:none;" %></li>
        <li><%= link_to "Reccomended", {controller: "skills", action: "reccomend"}, id: "brand",  style:"text-shadow:none;" %></li>
        <% end %>
    </ul>
    <% if user_signed_in? and !Friendship.find_by(receiver_id: @user.user_id, accepted: false).nil? %>
    <ul class="nav pull-left">
        <li><%= link_to "New Friend Request", network_path(@user), id: "brand",  style:"text-shadow:none;" %></li>
    </ul>
    <% end %>

  </div><!-- /.navbar-collapse -->
</nav>

